@{
    ViewData["Title"] = "Home Page";
}

    <style>
        .sidebar {
            position: fixed;
            width: 200px;
            height: 800px;
            background: #DDD;
            color: #DDD;
            padding-bottom: 0px;
            padding: 0px;
        }

        .sidebar > ul {
            width: 200px;
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        .sidebar > ul > li {
            padding: 16px;
            transition: 0.5s;
        }

        .sidebar > ul > li:hover {
            background: #00838f;
            color: #fff;
            cursor: pointer;
        }
    </style>

    <div class='sidebar'>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Guitars" asp-action="CustomerSearch">Guitars</a></li>
            <li><a asp-controller="Drums" asp-action="CustomerSearch">Drums</a></li>
            <li><a asp-controller="Recordings" asp-action="CustomerSearch">Recording Equipment</a></li>
        </ul>
    </div>

<div class="jumbotron" style="padding-left: 500px">
    <h1>MyMusicShop</h1>
</div>
<div class="row" style="padding-left: 300px">
    <div class="col-md-3">
        <h2>Welcome to MyMusicShop</h2>
        <p>
            MyMusicShop is a community site that allows the public to trade and buy musical equipment.
        </p>
    </div>
    <div class="col-md-3" style="padding-left: 50px">
        <h2>New and used equipment</h2>
        <p>
            MyMusicShop has a wide variety of musical instrument, both used and new.
        </p>
    </div>
    <div class="col-md-3" style="padding-left: 50px">
        <h2>Easy and simple</h2>
        <p>Made for the customer, and the musician, in mind!</p>
    </div>
</div>
