@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MyMusicShop</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MyMusicShop</h2>
        <p>
            MyMusicShop is a community site that allows the public to trade and buy musical equipment.
        </p>
    </div>
    <div class="col-md-4">
        <h2>New and used equipment</h2>
        <p>
            MyMusicShop has a wide variety of musical instrument, both used and new.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Easy and simple</h2>
        <p>Made for the customer, and the musician, in mind!</p>
    </div>
</div>
