@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>AndysList</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to AndysList</h2>
        <p>
            AndysList is a community site that allows the public to trade and buy musical equipment.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Easy and simple</h2>
        <p>Made for the customer in mind!</p>
    </div>
</div>
